<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        fragment="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
  <!-- el / sirve como ruta absoluta, si se lo quitas es relativa ejemplo /server, server/server -->
  <a routerLink="/servers">Reload Page</a>
  <!-- pone a todos los hijos de la ruta -->
  <router-outlet></router-outlet>
  <!--<button class="btn btn-primary" (click)="onReload()">Reload page</button>
    <app-edit-server></app-edit-server>
    <hr>
    si el server estubiera hay, entonces las propiedades de su ruta serian undefined
   <app-server></app-server> -->
  </div>
</div>

